.form-group {
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
}

.form-element {
    display: flex;
    flex-flow: column nowrap;
    margin: 0.5rem 0;
    align-items: center;
}

.form-label {
    font-size: 1.2rem;
    padding: 0.1rem 0 0.1rem 0.3rem;
    font-weight: 600;
}

.form-input {
    padding: 0.5rem 0.3rem;
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--black);
    width: 50%;
}

.form-input:focus,
.form-input:active {
    outline: none;
    border-bottom: 2px solid var(--black);
    background-color: transparent;
}

.form-input:focus::placeholder {
    background-color: transparent;
}

.form-textbox {
    height: 5rem;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 3%;
    width: 100%;
    padding: 2rem 0;
}

.form-btn {
    padding: 1rem 1.5rem;
    width: 28%;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: var(--black);
    color: var(--white);
    transition: 0.3s;
}

.form-btn:hover,
.form-btn:focus {
    background-color: var(--purple);
}


/* Small screens */

@media (max-width: 500px) {
    .form-input {
        width: 79%;
    }
}