    * {
        box-sizing: border-box;
    }
    
     :root {
        font-family: 'IBM Plex Sans Thai Looped', sans-serif;
        font-size: 16px;
        --text-primary: #576e75;
        --text-secondary: #35535c;
        --bg-primary: #fdf6e3;
        --bg-secondary: #f5e5b8;
        --black: #080808;
        --white: #ffffff;
        --blue: #00254d;
        --pink: #df49a6;
        --purple: #A117F2;
        --light-green: #0CB863;
        --transition-speed: 600ms;
    }
    
    .home-container {
        background: url(../img/bkp_original.jpg) no-repeat center center;
        background-size: cover;
        background-position-x: right;
        color: var(--black);
        height: 100vh;
    }
    
    body {
        color: var(--black);
        background-color: var(--white);
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    body::-webkit-scrollbar {
        width: 0.25rem;
    }
    
    body::-webkit-scrollbar-track {
        background: var(--black);
    }
    
    body::-webkit-scrollbar-thumb {
        background: var(--blue);
    }
    
    main {
        margin-left: 5rem;
        padding: 1rem;
    }
    
    .navbar {
        position: fixed;
        background-color: var(--bg-primary);
        transition: width 600ms ease;
        overflow: scroll;
        list-style: none;
        z-index: 100;
    }
    
    .navbar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 45%;
    }
    
    .nav-item {
        width: 100%;
    }
    
    .nav-item:last-child {
        margin-top: auto;
    }
    
    .nav-link {
        display: flex;
        align-items: center;
        height: 5rem;
        color: var(--text-primary);
        text-decoration: none;
        filter: grayscale(100%) opacity(0.7);
        transition: var(--transition-speed);
    }
    
    .nav-link:hover {
        filter: grayscale(0%) opacity(1);
        background: var(--bg-secondary);
        color: var(--text-secondary);
    }
    
    .link-text {
        display: none;
        margin-left: 1rem;
        font-size: 1.5rem;
    }
    
    .nav-link .fa-solid {
        width: 2rem;
        min-width: 2rem;
        margin: 0 1.5rem;
    }
    
    .logo {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
        text-align: center;
        color: var(--text-secondary);
        background: var(--bg-secondary);
        font-size: 1.5rem;
        letter-spacing: 0.3ch;
        width: 100%;
    }
    
    .logo .fa-solid {
        transform: rotate(0deg);
        transition: var(--transition-speed);
    }
    
    .logo-text {
        display: inline;
        position: absolute;
        left: -999px;
        transition: var(--transition-speed);
    }
    
    .fa-solid {
        color: var(--pink);
    }
    
    .fa-solid {
        transition: var(--transition-speed);
    }
    
    .navbar:hover .logo .fa-solid {
        transform: rotate(-180deg);
    }
    
    #intro .name {
        font-weight: 700;
        font-size: 2.5em;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        overflow: hidden;
    }
    
    #intro .tagline,
    #intro .more-info {
        font-weight: 450;
        font-size: 1.3em;
        padding: 2%;
    }
    
    .ml16 {
        color: #402d2d;
        padding: 40px 0;
        font-weight: 700;
        font-size: 2em;
        letter-spacing: 0.5em;
        overflow: hidden;
    }
    
    .ml16 .letter {
        display: inline-block;
        line-height: 1em;
    }
    /*styles different section*/
    /*About Me styles */
    
    .profile {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
        height: 10%;
        border-radius: 50%;
        border: 1px solid var(--black);
    }
    
    p.detail-info {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2em;
        width: 50%;
    }
    
    .title {
        font-weight: 700;
        font-size: 2.2em;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        overflow: hidden;
    }
    
    .detail-info .about-me {
        font-weight: 600;
        font-size: 1.3em;
    }
    /*footer styles*/
    
    #footer-details {
        position: absolute;
        bottom: 0;
        left: 40%;
        color: var(--blue);
        font-size: 1.5rem;
    }
    
    #footer-details a {
        color: var(--black);
        font-size: 3rem;
        text-decoration: none;
    }
    
    #footer-details a:hover,
    #footer-details a:focus {
        color: var(--purple);
    }
    /*** Responsive layout ***/
    /* Small screens */
    
    @media (max-width: 500px) {
        .navbar {
            bottom: 0;
            width: 100vw;
            height: 5rem;
        }
        .logo {
            display: none;
        }
        .navbar-nav {
            flex-direction: row;
            height: 100%;
        }
        .nav-link {
            justify-content: center;
        }
        #intro .name {
            font-size: 2.2em;
        }
        main {
            margin-left: 5%;
        }
        .ml16 {
            font-size: 1.3em;
            font-weight: bold;
            margin-left: auto;
            margin-right: auto;
        }
        #intro .tagline {
            font-size: 1em;
        }
        #intro .more-info {
            font-size: 1em;
        }
        .profile {
            width: 35%;
            height: 20%;
            margin-left: 20%;
        }
        p.detail-info {
            font-size: 0.8em;
            width: 88vw;
            margin: 0;
        }
        .title {
            margin-right: 10%;
            margin-bottom: 0px;
        }
        #footer-details {
            display: none;
        }
    }
    /* Medium screen */
    
    @media (min-width: 501px) and (max-width: 800px) {
        .home-container {
            background: url(../img/bkp_small.jpg);
            background-repeat: no-repeat;
            background-position-x: right;
            display: block;
            background-size: cover;
            justify-content: center;
        }
        .navbar {
            bottom: 0;
            width: 100vw;
            height: 5rem;
        }
        .logo {
            display: none;
        }
        .navbar-nav {
            flex-direction: row;
            height: 100%;
        }
        .nav-link {
            justify-content: center;
        }
        main {
            margin: 0;
        }
        .profile {
            width: 20%;
            height: 20%;
            margin-left: 35%;
        }
        .title {
            margin-right: 10%;
            margin-bottom: 0px;
        }
        p.detail-info {
            font-size: 1.1em;
            width: 88vw;
            margin: 0;
        }
        .detail-info .about-me {
            margin-bottom: 0px;
        }
        #project .title {
            margin-left: 15%;
        }
        #footer-details {
            position: absolute;
            bottom: 10%;
            left: 25%;
        }
    }
    /* Large screens */
    
    @media (min-width: 800px) {
        .navbar {
            top: 0;
            width: 5rem;
            height: 100vh;
        }
        .navbar:hover {
            width: 16rem;
        }
        .navbar:hover .link-text {
            display: inline;
        }
        .navbar:hover .logo .fa-solid {
            margin-left: 11rem;
        }
        .navbar:hover .logo-text {
            left: 0px;
        }
        .home-container {
            background: url(../img/bkp_original.jpg);
            background-repeat: no-repeat;
            background-position-x: right;
            background-position-y: bottom;
            background-size: cover;
        }
        #intro .name {
            margin-top: 2em;
            position: relative;
            left: 5%;
        }
        #intro h2 {
            position: relative;
            left: 5%;
        }
        #intro .tagline {
            position: relative;
            max-width: 90vw;
            left: 7%;
            font-size: 1.4em;
        }
        #intro .more-info {
            position: relative;
            left: 5%;
            font-size: 1.4em;
        }
        main {
            margin: 0;
        }
        p.detail-info {
            width: 72vw;
        }
        /*
        #project .title {
            margin-left: 10%;
        }*/
    }